@font-face {
  font-family: 'FenwickWoodtype';
  src: url('./public/FenwickWoodtype.ttf');
}

body {
  width: 98%;
  height: 100%;
  box-sizing: content-box;
  font-family: 'FenwickWoodtype';
  font-size: x-large;
}