@font-face {
  font-family: 'FenwickWoodtype';
  src: url('./public/FenwickWoodtype.ttf');
}

html {
  height: 100vh;
  min-height: 100%;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: content-box;
  font-family: 'FenwickWoodtype';
  color: #310e04;
}

select,
select *,
input {
  font-family: 'FenwickWoodtype';
  font-size: x-large;
}